# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ipython notebook files
test/*.ipynb
*checkpoint*

# Doxygen files
doc/manual/html
doc/manual/latex/

# Latex files
*.aux
*.bbl
*.blg
*.log
*.synctex.gz

# Other files
tmp*
.DS_Store
